.contact-button {
    background-color: #111;
    position: absolute;
    right: 10vw;
    bottom: 10vh;
    border: 1px solid #111;
    padding: 20px;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    transition: all 0.3s ease;
    /* Smooth transition for responsiveness */

    /* Span styling */
    span {
        margin-right: 10px;
    }
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .contact-button {
        right: 8vw;
        bottom: 8vh;
        padding: 18px;
        /* Adjust padding */
        letter-spacing: 2px;
        /* Slightly reduce letter spacing for smaller screens */
    }
}

/* Media query for mobile devices */
@media only screen and (max-width: 480px) {
    .contact-button {
        right: 5vw;
        /* Bring closer to the edge */
        bottom: 5vh;
        /* Adjust bottom placement */
        padding: 5px;
        /* Reduce padding for smaller screens */
        font-size: 14px;
        /* Decrease font size */
        letter-spacing: 1px;
        /* Reduce letter spacing */
    }
}